* {
	margin: 0;
	padding: 0;
}

a,
th,
td {
	color: #fff;
	line-height: 1.3em;
	text-decoration: none;
}

a[name="hover"] {
	text-decoration: underline;
}

#header,
#main,
#footer {
	overflow: hidden;
}

body {}

#main {
	background-color: #eee;
}

/*------------header------------*/
#header {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #522a5c;
}

li {
	list-style: none;
}

#header .header-menu {
	position: relative;
	bottom: 0;
	margin: auto auto 5px;
	width: 980px;
	height: 75px;
}

#header > a {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: auto 10px 0 auto;
}

@media screen and (max-width: 980px) {
	#header > a {
		display: none;
	}	
}

#header .header-menu ul {
	position: absolute;
	right: 0;
	bottom: 0;
}

.header-menu ul li {
	float: left;
	margin-left: 28px;
}

#header .header-menu h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}

/* End Header */

/* Main-index */
.main-wrap .main-banner {
	position: relative;
	text-align: center;
}

/* .main-wrap .main-banner img {
	position: absolute;
	left: 50%;
	margin-left: -610px;
	max-height: 535px;
} */

.main-wrap .main-banner .b-t-bg {
	position: relative;
	margin: 0 auto;
	width: 980px;
	/*height: 535px;*/
}

.b-t-bg .banner-textbg {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px 10px 30px;
	width: 350px;
	color: #fff;
	background: -webkit-linear-gradient(rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	background: linear-gradient(rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
}

.b-t-bg .banner-textbg h1 {
	margin-bottom: 12px;
	text-align: right;
	font-size: 14px;
	font-weight: normal;
}

.b-t-bg .banner-textbg p {
	font-size: 12px;
}

#main .main-wrap .content {
	position: relative;
	width: 100%;
	height: 480px;
	background-color: #eee;	
}

.main-wrap .content .content-bg {
	margin: 0 auto;
	width: 980px;
	height: 480px;
}

.content-bg .wrap-content-bg dl {
	float: left;
	margin: 10px 0 0 10px;
	padding-bottom: 25px;
	width: 320px;
	min-height: 335px;
	background-color: #fff;
}

dl:first-child {
	margin-left: 0 !important;
}

.wrap-content-bg dl img {
	border: 10px solid transparent;
	border-bottom-width: 15px;
}

.wrap-content-bg dl p {
	padding: 0 30px;
	font-size: 12px;
	line-height: 170%; 
	text-indent: 2em;
}

.content-bg .wrap-content-bg {
	display: flex;
}

#main .main-wrap .main-am {
	position: relative;
	width: 100%;
	background-color: #fff;
}

.main-wrap .main-am .main-am-bg{
	margin: 0 auto;
	width: 980px;
	height: 520px;
	text-align: center;
	color: #000;
}

.main-am .main-am-bg img{
	margin: -50px 0 50px;
}

.main-am .main-am-bg h1{
	font: 20px "Century Gothic";
	margin-bottom: 50px;
}

.main-am .main-am-bg p{
	margin: 0 auto;
	width: 600px;
	font-size: 14px;
	text-indent: 2em;
	line-height: 2em;
}


/* END Main-index */

/* Main-blog */
#main .m-blog{
	margin: 20px auto 330px;
	width: 980px;
}

#main .m-blog .list{
	margin-right: 10px;
	width: 710px;
}

.m-blog .list .list-item{
	margin-bottom: 10px;
	padding: 20px;
	background-color: #fff;
}

.list .list-item .tags{
	float: left;
	margin-left: -70px;
	width: 50px;
	color: #fff;
}

.list-item .tags .time{
	line-height: 40px;
	text-align: center;
	background-color: #522a5c;
}

.list-item .tags .tag{
	line-height: 40px;
	text-align: center;
	background-color: #a660b7;
}

.list .list-item h1{
	font-size: 16px;
	color: #a660b7;
}

.list .list-item h2{
	font-size: 12px;
	line-height: 30px;
	color: #666;
}

.list .list-item p{
	text-indent: 2em;
	line-height: 1.5em;
}

.list .list-item span{
	display: block;
	margin-top: 30px;
	text-align: right;
	color: #999;
}

.list .page ul{
	text-align: center;
}

.page ul li{
	display: inline-block;
	margin-right: 10px;
	padding: 15px;
	background-color: #fff;
}

/* END Main-blog */

/*------------footer------------*/
#footer {
	background-color: #000;
}

#footer .footer-menu {
	border-bottom: 1px solid #333;
}

#footer .footer-menu ul {
	text-align: center;
	margin: 0 auto;
}

.footer-menu ul li {
	display: inline-block;
	padding: 15px;
}

#footer .footer-menub {
	background-color: #000;
	padding: 10px 0 38px;
}

#footer .footer-menub table {
	margin: 0 auto;
	width: 980px;
}

.footer-menub table th {
	font-weight: normal;
	text-align: left;
	line-height: 4em;
	color: #c9c9c9;
}

#footer .copyright {
	text-align: center;
}

#footer .copyright p {
	line-height: 4em;
	color: #fff;
}

/* End Footer */